
<div class="items">
	<ul>
		<h3></h3>


		
		<li><strong>Name:</strong> <%= @customers.first_name, @customers.last_name %></li>

		<li><%= @customers.address %></li>
		<li> <%= @customers.city %>/</li>
		 <li><%= @customers.province %></li>
		<br>
		<li><%= @provinces.gst %></li>
		<li><%= @provinces.pst %></li>
		<li><%= @provinces.hst %></li>

		
	</ul>




</div>
<br>