
<div class="items">
	<ul>
		<h3><%= link_to product.name, "product" %></h3>


		
		<li><strong>Name:</strong> <%= customer.first_name, customer.last_name %></li>

		<li><%= customer.address %></li>
		<li> <%= customer.city %>/</li>
		 <li><%= customer.province %></li>
		<br>

		
	</ul>




</div>
<br>